
<div class="container mt-5" >
    <div class="card" style="height: 35px;">
        <div *ngIf="selectedIds.length">
            <i class="fas fa-trash-alt" (click)="deleteAll()"></i>
        </div> 
        <div *ngIf="!selectedIds.length">
            <i class="fa-disabled fas fa-trash-alt"></i>
        </div> 
    </div>
</div>

<!-- <div class="container mt-5">
    <div class="mat-mdc-table">
    <table mat-table [dataSource]="ProductData" class="mat-elevation-z8">

        

        <ng-container matColumnDef="ID.">
          <th mat-header-cell *matHeaderCellDef> ID. </th>
          <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
        </ng-container>

        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.productDescription}} </td>
        </ng-container>

        <ng-container matColumnDef="Discounted Price">
          <th mat-header-cell *matHeaderCellDef> Discounted Price </th>
          <td mat-cell *matCellDef="let element"> {{element.productDiscountedPrice}} </td>
        </ng-container>

        <ng-container matColumnDef="Actual Price">
          <th mat-header-cell *matHeaderCellDef> Actual Price </th>
          <td mat-cell *matCellDef="let element"> {{element.actaulPrice}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
      
</div> -->

<div class="container">
    <table class="table">
      <thead>
        <tr>
            
          <th scope="col" style="width: 5%">
            <input type="checkbox" class="form-check-input" [checked]="headerSelected" (change)="selectAll($event)">
            </th>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Discounted Price </th>
            <th>Actual Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of ProductData">
            <th scope="row">
              <!-- <input type="checkbox" class="form-check-input" [checked]="isSelected(val.id)" id="check1" #checkbox (change)="toggleSelection($event, val.id)"> -->
              <input type="checkbox" class="form-check-input"  id="check1" [checked]="rowSelected" (change)="toggleSelection($event, product.productId)">
            </th>
            <td>{{ product.productId }}</td>
            <td>{{ product.productName }}</td>
            <td>{{ product.productDescription }}</td>
            <td>{{ product.productDiscountedPrice }}</td>
            <td>{{ product.actaulPrice }}</td>
        </tr>
         
      </tbody>
    </table>
  </div>